@use 'variables' as a;

.btn {
  display: inline-block;
  width: 20rem;
  border-radius: 10rem;
  background: a.$color-main;
  font-weight: a.$fw-400;
  font-size: a.$fs-btn;
  color: a.$color-bg;
  padding: 2rem;
  text-align: center;
  box-shadow: .2rem .5rem 1rem a.$color-shadow;
  transition: all .5s;
  &:hover {
    translate: 0 -.5rem;
    box-shadow: .2rem .75rem 1rem a.$color-shadow;
    color: a.$color-main;
    background: a.$color-active;
  }
  &:active {
    translate: 0 .5rem;
    box-shadow: .2rem .25rem 1rem a.$color-shadow;
  }
}